*.o
hts/Makefile
hts/config.log
hts/config.status

hts/HLMLib/Makefile
hts/HLMTools/Makefile
hts/HTKLib/Makefile
hts/HTKTools/Makefile
hts/HTKLVRec/Makefile

HTKLib.a
HMgeTool
HSMMAlign
HMGenS
HVite
HSmooth
HSGen
HResults
HRest
HQuant
HParse
HMMIRest
HLStats
HLRescore
HList
HLEd
HInit
HHEd
HERest
HDMan
HCopy
HCompV
HBuild
HSLab
